#inform {
  margin-top: 50px;
  margin-bottom: 50px;
}

#submit {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
#submit:hover {
  opacity: 0.8;
}
input[type="text"],
input[type="password"] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.text3 {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 31px;
  letter-spacing: 2.4px;
  word-spacing: 6px;
  color: #9d00ff;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: capitalize;

  color: #3939f3;
  background: #ffffff;
  text-shadow: 1px 1px 0px #ffffff, 3px 2px 0px rgba(0, 0, 0, 0.15);
  color: #552bff;
  background: #ffffff;
}

.text4 {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 50px;
  letter-spacing: 3.6px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;

  color: #000000;
  background: #ffffff;
  text-shadow: 2px 2px 0px #ffffff, 5px 4px 0px rgba(0, 0, 0, 0.15);
  color: #333333;
  background: #ffffff;
}
.main-body{
  background-image: url("/Home/Resources/background-body.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
